<h1>Editing Support Assignment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@support_assignment.user, @support_assignment] %> |
<%= link_to 'Back', user_support_assignments_path(@support_assignment.user) %>
