<html>
<body>
    <h1 style="text-align: center">Welcome To Support Hero</h1>
    <p>Browse Users: <a href="/users">/users</a></p>
    <p>Browse Duty Assignments: <a href="/support_assignments">/support_assignments</a></p>
</body>
</html>